.dashboard-page {
  background-color: rgb(70, 186, 171);
  width: 100%;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-container {
  background: white;
  height: auto;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0 50px 0;
  margin: 50px 0 50px 0;
  box-shadow: 2px 2px 0 2px rgba(22, 29, 37, 0.05);
}

.dashboard-container a {
  color: white;
}

.dashboard-container h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  color: rgb(70, 186, 171);
}

@media (min-width: 700px) and (max-width: 900px) {
  .dashboard-container {
    width: 680px;
  }
}

@media (max-width: 700px) {
  .dashboard-container {
    width: 320px;
    margin: 30px 0 30px 0;
  }
}
