.create-event-page {
  background-color: rgb(70, 186, 171);
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.create-form {
  background: white;
  opacity: 0.9;
  height: 590px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  box-shadow: 2px 2px 0 2px rgba(22, 29, 37, 0.05);
}

.add-guest input {
  width: 250px;
  margin: 0 28px 0 5px;
}

.time-input {
  display: flex;
  justify-content: space-between;
  width: 320px;
  margin-top: 30px;
}

input[type=time] {
  margin: 0;
  width: 130px;
}

@media (max-width: 700px) {
  .create-form {
    width: 300px;
    height: 560px;
  }
  .time-input {
    width: 230px;
  }
  input[type=time] {
    width: 100px;
  }
  .add-guest input {
    width: 160px;
  }
}
