.event-page {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.event-page button {
  border: 1px solid white;
  color: white;
}

.event-page button:hover {
  background: white;
  opacity: 0.8;
  color: black;
}

.copy-container {
  text-align: center;
  width: 45vw;
  margin: 0 auto 50px auto;
}

.copy-container h1 {
  margin-bottom: 25px;
}

.copy-container h2 {
  margin-bottom: 25px;
}

.event-CTA-container {
  display: flex;
  justify-content: center;
}

.event-CTA-container button {
  margin-right: 20px;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 0.8; }
}

.message {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(70, 186, 171);
  opacity: 0.8;
  color: white;
  position: absolute;
  z-index: 100;
  animation: fadein 1.5s;
}

.show {
  display: block;
}

.hide {
  display: none;
}

@media (min-width: 700px) and (max-width: 900px) {
  .copy-container {
    width: 62vw;
  }
}

@media (max-width: 700px) {
  .copy-container {
    width: 75vw;
    margin-bottom: 30px;
  }
  .copy-container h1 {
    font-size: 55px;
  }
  .copy-container h2 {
    font-size: 17px;
  }
  .event-CTA-container {
    flex-direction: column;
    align-items: center;
  }
  .event-CTA-container button {
    margin: 0 0 20px 0;
    width: 200px;
  }
}
