.start-page {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-position: center center;
  background-repeat: no-repeat;
}

.start-page button {
  border: 1px solid white;
}

.start-page button:hover {
  background: white;
  opacity: 0.8;
  color: black;
}

.start-page a:hover {
  color: black;
}

.start-page a {
  color: white;
}

.start-copy-container {
  text-align: center;
  width: 40vw;
  margin: 0 auto 50px auto;
}

.start-copy-container h1 {
  margin-bottom: 25px;
}

.CTA-container {
  display: flex;
  justify-content: center;
}

@media (min-width: 700px) and (max-width: 900px) {
  .start-copy-container {
    width: 62vw;
  }
}

@media (max-width: 700px) {
  .start-copy-container {
    width: 65vw;
  }
  .start-copy-container h1 {
    font-size: 55px;
  }
  .start-copy-container h2 {
    font-size: 17px;
  }
}
